name: checks

on:
  pull_request: ~
  merge_group: ~

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2

      - name: Resolve Dependencies
        run: bun install --frozen-lockfile

      - name: Check docs
        run: bun lint
